<mat-toolbar [color]="'primary'">
  <button mat-icon-button>
    <mat-icon *ngIf="isAuth" (click)="toggle()">menu</mat-icon>
  </button>
  <span class="text-center">{{"CHAT-APP" | translate}} <i class="fas fa-comments"></i></span>
  <div fxFlex="80">
  </div>

  <mat-nav-list fxLayout *ngIf="isAuth">
    <a mat-list-item >
      <button mat-icon-button (click)="washOutNotification()" matTooltip="Total Number of Messages user has received" routerLink="/dashboard/inbox">
        <mat-icon [matBadge]=numberOfMessages matBadgeColor="warn">question_answer</mat-icon>
      </button>
    </a>

    <a mat-list-item>
      <mat-form-field appearance="legacy">
        <mat-label>{{'Select Language' | translate}}</mat-label>
        <mat-select  [(ngModel)]="currentLanguage"
                    (selectionChange)="onChange()">
          <mat-option *ngFor="let lang of languageList" [value]="lang">
            {{lang}}
          </mat-option>
        </mat-select>
      </mat-form-field>

    </a>

  </mat-nav-list>


</mat-toolbar>
