<div class="main-container" fxLayout fxLayoutAlign="center center">
  <div fxFlex="50" fxFlex.lt-md="100" class="animate__animated animate__fadeInLeft">
    <form [formGroup]="registerForm" (ngSubmit)="register(model)">
      <div>
        <div fxLayout="column" fxLayoutGap="5%">
          <formly-form [model]="model" [fields]="fields" [options]="options" [form]="registerForm"></formly-form>
          <button
            mat-raised-button
            color="warn"
            type="submit"
            [disabled]="!registerForm.valid">
            <i class="fas fa-sign-in-alt"></i> Register
          </button>
        </div>
      </div>
    </form>
  </div>
</div>




