<div class="main-container" fxLayout fxLayoutAlign="center center">
  <div fxFlex="50" fxFlex.lt-md="100" class="animate__animated animate__fadeInRight">
    <form [formGroup]="loginForm" (ngSubmit)="login(model)">
        <div>
          <div fxLayout="column" fxLayoutGap="5%">
            <formly-form [model]="model" [fields]="fields" [options]="options" [form]="loginForm"></formly-form>
            <a routerLink="/auth/register">Dont have an account? Sign Up!</a>
            <button
              mat-raised-button
              color="primary"
              id="login"
              type="submit"
              [disabled]="!loginForm.valid">
              <i class="fas fa-sign-in-alt"></i> Login
            </button>
          </div>
        </div>
    </form>
  </div>
</div>




