<h4 class="text-center"><u>{{currentChat}}</u></h4>
<div class="main-container" fxLayout fxLayoutAlign="space-evenly">

  <kendo-chat fxFlex="70"
              [messages]="chatData$ | async"
              [user]="user"
              (sendMessage)="sendMessage($event)"

  >
  </kendo-chat>
  <mat-card fxFlex="20">
    <p class="text-center"><b>Available Employees <i class="fas fa-user-friends"></i> </b></p>
    <mat-list *ngFor="let user of listOfAvailableUsers">
      <mat-list-item (click)="showChat(user.uid,user.username)">
        <p>
          <img matListAvatar src="assets/avatar.png"/>
          {{user.username}}
        </p>
      </mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
  </mat-card>
</div>


