<div class="main-container" fxLayout fxLayoutAlign="space-evenly">

  <mat-card fxFlex="20">
    <p class="text-center"><b>Inbox <i class="fas fa-inbox"></i> </b></p>
    <mat-list>
      <mat-list-item>
        <p>
          <i class="fas fa-comment-alt"></i>
          Message From Bushra
        </p>
      </mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
  </mat-card>
  <kendo-chat fxFlex="50"
              [messages]="chatData$ | async"
              [user]="user"
              (sendMessage)="sendMessage($event)"
  >
  </kendo-chat>
  <mat-card fxFlex="20">
    <p class="text-center"><b>Available Employees <i class="fas fa-user-friends"></i> </b></p>
    <mat-list>
      <mat-list-item>
        <p>
          <img matListAvatar src="assets/avatar.png" />
          Farah Javed
        </p>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <p>
          <img matListAvatar src="assets/avatar.png" />
          Bushra Kiyani
        </p>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <p>
          <img matListAvatar src="assets/avatar.png" />
          Usman Khan
        </p>
      </mat-list-item>
      <mat-divider></mat-divider>

    </mat-list>
  </mat-card>
</div>


